<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h2>My Favorite Pets</h2>
    </div>
    <div>
      Favorites: {{favCount}}
    </div>
</div>

<div class="row favrow" ng-repeat="fav in favorites">
  <div class="col-md-6 text-right">
    <img ng-if="fav.pet_image_url" ng-src="{{fav.pet_image_url}}" />
  </div>
  <div class="col-md-5">
    <h3>{{fav.pet_name}}</h3>
    <p>{{fav.pet_description}}</p>
    <button class="btn btn-danger" ng-click="removeFavorite(fav)">Remove</button>
  </div>
</div>
